@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=EB+Garamond:wght@500&family=Lato&family=Lora&display=swap');

.Pembayaran {
    margin-top: 50px;
    font-family: 'Arimo';
}

.main-bayar {
    margin: auto;
    background-color: #FBF7F0;
    width: 60%;
    padding: 20px;
    font-size: 14px;
}

.ringkasan {
    font-weight: bold;
    text-align: center;
}

.teks-alamat {
    font-weight: bold;
}

.icon-edit {
    color: black;
}

.namaTas {
    padding-top: 5px;
    font-weight: bold;
}

.hargaTas {
    text-align: end;
}

.teks-TotalHargaTas {
    padding-top: 5px;
    font-weight: bold;
}

.TotalHargaTas {
    text-align: end;
}

.jasaPengiriman {
    padding-top: 5px;
    font-weight: bold;
}

.HargaJasaPengiriman {
    text-align: end;
}

.teks-totalPembayaran {
    font-weight: bold;
}

.totalPembayaran {
    text-align: end;
    font-weight: bold;
}

.teks-metodePembayaran {
    font-weight: bold;
    margin-top: 20px;
}

.pembayaran-btn {
    background-color: #555555;
    border-radius: 10px;
    border-style: none;
    width: 180px;
    height: 40px;
    color: white;
    font-family: 'Lato';
}

.modal-dialog {
    background-color: #FBF7F0;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

.text-pembayaranBerhasil {
    font-weight: bold;
    text-align: center;
}

.fa {
    color: #555555;
}

.ok-btn {
    background-color: #555555;
    border-radius: 10px;
    border-style: none;
    width: 200px;
    height: 40px;
    color: white;
    font-family: 'Lato';
    margin: 40px 30px 20px;
}