@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=EB+Garamond:wght@500&family=Lato&family=Lora&display=swap');

.AllProduct {
    margin-top: 80px;
}
.search-tas {
 background-color: #FBF7F0;
 border-radius: 10px;
 border-style: none;
 width: 400px;
 height: 40px;
 padding: 10px;
 font-family: 'Lora';
}

.seacrh-btn {
    background-color: #555555;
    border-radius: 10px;
    border-style: none;
    width: 60px;
    height: 40px;
    color: white;
    font-family: 'Lora';
}

